body {
  padding: 50px;
  background-color: whitesmoke;
}
.photo__figuree--caption {
  padding-left: 10px;
  background-color: hsla(209, 41%, 61%, 0.664);
  padding: 10px;
  border-radius: 15px;
  color: black;
}
